@model Nemesis.Site.Models.StoreDetailViewModel

@{
    ViewBag.Title = "Create Store";
}

<h2>Create Store</h2>


<div class="panel-default" id="editable">
    @using (Html.BeginForm("Create", "Store", FormMethod.Post))
    {
        <div class="row">
            <div class="col-lg-4">Name:</div>
            <div class="col-lg-8">@Html.TextBoxFor(m => m.Name)</div>
        </div>
        <div class="row">
            <div class="col-lg-4">Address:</div>
            <div class="col-lg-8">@Html.TextBoxFor(m => m.Address)</div>
        </div>
        <div class="row">
            <div class="col-lg-4">Postcode:</div>
            <div class="col-lg-8">@Html.TextBoxFor(m => m.Postcode)</div>
        </div>
        <div class="row">
            <div class="col-lg-4">Opening Hours:</div>
            <div class="col-lg-8">@Html.TextBoxFor(m => m.OpeningHours)</div>
        </div>
        <div class="row">
            <div class="col-lg-4"></div>
            <div class="col-lg-8"><input type="submit" value="Create" /></div>
        </div>
    }
</div>
<div>
    @Html.ActionLink("Back to List", "List", "Store")
</div>
